@define-color base     rgb(30, 30, 46);
@define-color mantle   rgb(24, 24, 37);
@define-color crust    rgb(17, 17, 27);
@define-color baseAlpha     rgba(30, 30, 46, 0.2);
@define-color mantleAlpha   rgba(24, 24, 37, 0.2);
@define-color crustAlpha    rgba(17, 17, 27, 0.2);

@define-color text     rgb(205, 214, 244);
@define-color subtext0 rgb(166, 173, 200);
@define-color subtext1 rgb(186, 194, 222);
@define-color textAlpha     rgba(205, 214, 244, 0.2);
@define-color subtext0Alpha rgba(166, 173, 200, 0.2);
@define-color subtext1Alpha rgba(186, 194, 222, 0.2);

@define-color surface0 rgb(49, 50, 68);
@define-color surface1 rgb(69, 71, 90);
@define-color surface2 rgb(88, 91, 112);
@define-color surface0Alpha rgba(49, 50, 68, 0.2);
@define-color surface1Alpha rgba(69, 71, 90, 0.2);
@define-color surface2Alpha rgba(88, 91, 112, 0.2);

@define-color surface1 rgb(69, 71, 90);
@define-color surface2 rgb(88, 91, 112);
@define-color surface1Alpha rgba(69, 71, 90, 0.2);
@define-color surface2Alpha rgba(88, 91, 112, 0.2);

@define-color overlay0 rgb(108, 112, 134);
@define-color overlay1 rgb(127, 132, 156);
@define-color overlay2 rgb(147, 153, 178);
@define-color overlay0Alpha rgba(108, 112, 134, 0.2);
@define-color overlay1Alpha rgba(127, 132, 156, 0.2);
@define-color overlay2Alpha rgba(147, 153, 178, 0.2);

@define-color blue      rgb(137, 180, 250);
@define-color lavender  rgb(180, 190, 254);
@define-color sapphire  rgb(116, 199, 236);
@define-color sky       rgb(137, 220, 235);
@define-color teal      rgb(148, 226, 213);
@define-color green     rgb(166, 227, 161);
@define-color yellow    rgb(249, 226, 175);
@define-color peach     rgb(250, 179, 135);
@define-color maroon    rgb(235, 160, 172);
@define-color red       rgb(243, 139, 168);
@define-color mauve     rgb(203, 166, 247);
@define-color pink      rgb(245, 194, 231);
@define-color flamingo  rgb(242, 205, 205);
@define-color rosewater rgb(245, 224, 220);

* {
    font-family: FontAwesome, Jetbrains Mono Nerd Font;
    font-size: 14px;
    font-weight: bolder;
    min-height: 0;
}

window#waybar {
    background-color: @crustAlpha;
    color: @text;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.termite {
    background-color: #3f3f3f;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

#workspaces button {
    padding: 0 5px;
    color: @surface2;
    margin: 4px 0 4px 6px;
    transition: color 200ms ease-in-out;
}

#workspaces button:hover {
    color: @blue;
    box-shadow: inherit;
    text-shadow: inherit;
    background: @crustAlpha;
    border: @crust;
}

#workspaces button.selected {
    color: @blue;
}

#workspaces button.active {
    color: @blue;
}

#workspaces button.selected {
    color: @red;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#bluetooth,
#custom-updates,
#custom-exit,
#mpd {
    background-color: @surface1;
    border-radius: 10px;
    padding: 2px 12px 2px 8px;
    color: @text;
    opacity: 0.8;
}

#battery.charging, #battery.plugged {
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#custom-updates {
    border-radius: 5px;
}
